// -----------------------------------------------------------------------------
// This file contains variables
// -----------------------------------------------------------------------------

html {
    --bg: #fff;
    --bg-article: #4d4949;

    --bg-user: #fff;
    --bg-follow-btn: #5374FF;

    --color-article: rgb(255, 255, 255);
    --color-headings: #000;
    --color-text: #000;
    --color-shadow: #b5aeae;

    --color-button-bg: #000;
    --color-button-switch: #fff;
}

html[data-theme='dark'] {
    --bg: #333333;
    --bg-article: #3d3b3b;

    --bg-user: #262525;
    --bg-follow-btn: #3857d1;

    --color-article: rgb(255, 255, 255);
    --color-headings: #fff;
    --color-text: #fff;
    --color-shadow: #000;

    --color-button-bg: #fff;
    --color-button-switch: #000;
}

$color-article-muted: rgb(216, 214, 214);
$color-hover:  rgba(230, 149, 0, 1);

//Use this classes to distinguish color of headings and text. You might want some text light in dark mode and vice versa

.headings-primary-dark {
    color: var(--color-headings);
}

.headings-primary-light {
    color: var(--color-article);
}

.text-primary-dark {
    color: var(--color-text);
}

.text-primary-light {
    color: var(--color-article)
}


