// -----------------------------------------------------------------------------
// This file contains specific styles for post sub page
// -----------------------------------------------------------------------------
.Post {  
    .animation-container {
        padding: 3em;
    }

    .posts {
        perspective: 1000px;
    }

    .post {
        margin: auto;
        svg, h2, h3, p {
            transition: all 0.75s ease-out;
        }
        p {
            text-indent: 4em;
            text-align: justify;
        }
        .comment {
            transition: .5s all ease;
            &:hover {
                transform: translateZ(20px);
            }
        }
    }
}