// -----------------------------------------------------------------------------
// This file contains styles for buttons
// -----------------------------------------------------------------------------
.button-primary-dark, .button-primary-light, .button-primary {
    padding: .5em;
    border-radius: 2em;
    transition: .3s all ease;
    border: none;
    outline: none;
    &:hover {
        background: $color-hover;
    }
}

.button-primary-light {
    background: #fff;
}

.button-primary-dark {
    background: #000;
}

.button-primary {
    background: var(--color-headings);
}

.message-button{
    border: 1px solid $color-article-muted;
    background: transparent;
    color: var(--color-headings);
    &:focus {
        border: 1px solid $color-article-muted;
    }
}

.follow-button{
    background: var(--bg-follow-btn);
    color: var(--color-article);
}

.edit-button {
    a {
        color: var(--bg-article);
    }
}