// -----------------------------------------------------------------------------
// This file contains styles for buttons
// -----------------------------------------------------------------------------
.button-primary-dark, .button-primary-light, .button-primary {
    padding: .5em;
    border-radius: 2em;
    transition: .3s all ease;
    border: none;
    outline: none;
    &:hover {
        background: $color-hover;
        border: 2px dotted darken($color-hover, 20%);
    }
}

.button-primary-light {
    background: #fff;
}

.button-primary-dark {
    background: #000;
}

.button-primary {
    background: var(--color-headings);
}