.form-wrapper {
    padding: 1em;
    position: relative;
    top: 6em;

    .title {
        font-size: 3em;
        width: 50%;
        margin: auto;

        @media screen and (max-width: 500px){
            width:  90%;
        }
    }
    
    .my-form {
        width: 50%;
        margin: 1em auto;
        background: transparent;
        color: var(--color-article);
        padding: 1em;
        border-radius: 1em;
    
        @media screen and (max-width: 500px){
            width:  90%;
        }
    
        input {
            background: transparent !important;
            border: none !important;
            border-bottom: 1px solid #fff !important;
            outline: none !important;
            border-radius: 1em 1em 0 0 !important;
    
            &:focus {
                box-shadow: none !important;
            }
        }
    }    
}