// -----------------------------------------------------------------------------
// This file contains styles for header, navbar and user controls
// -----------------------------------------------------------------------------
.navbar {
    margin: 2em 1em 0em 1em;
    border-radius: 2em;
    background: var(--bg-panel);
    display: grid;
    grid-template-columns: 1fr;
    .header-link {
        color: var(--color-panel); 
    }
    .home-title, .menu-link {
        color: var(--color-panel);
        transition: .1s all ease;
        &:hover {
            text-decoration: none;
            border-bottom: solid $color-hover;
            border-width: thick;
            color: $color-hover;
        }
    }

    .header-toggle-item {
        color: var(--color-panel);
    }

    .header-menu {
        border-radius: 1em;
        background: var(--bg-user);
        .header-menu-item {
            display: block;
            text-align: center;
            padding: .2em;
            color: var(--color-text);
        }
    }

    .menu-link {
        padding: 0 .2em;
    }

    .search-item {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .search-bar {
            border-radius: 1em;
            &:focus {
                border: 1px solid $color-outline-primary;
                box-shadow: 0 0 0 0.2rem $color-outline-primary;
            }
        }
    }
}

.title-primary {
    h1 {
        padding: 2em 0;
    }
}

