// -----------------------------------------------------------------------------
// This file contains styles for header, navbar and user controls
// -----------------------------------------------------------------------------
.navbar {
    margin-top: 2em;
    .home-title, .menu-link {
        color: var(--color-headings);
        transition: .1s all ease;
        &:hover {
            text-decoration: none;
            border-bottom: solid $color-hover;
            border-width: thick;
            color: $color-hover;
        }
    }

    .header-toggle-item {
        color: var(--color-text);
    }

    .header-menu {
        border-radius: 1em;
        background: var(--bg-user);
        .header-menu-item {
            display: block;
            text-align: center;
            padding: .2em;
            color: var(--color-text);
        }
    }

    .menu-link {
        padding: 0 .2em;
    }
}

.title-primary {
    h1 {
        padding: 1em 0;
    }
}


