.popover {
    .popover-body {
        display: grid;
        grid-template-columns: 1fr;
        a {
            color: $color-hover !important;
            text-decoration: dotted !important;
        }

        p {
            align-self: center;
        }
    }
}