%postStyles {
    padding: 1em;
    border-radius: 1em;
    border: 10px solid var(--bg-article);
    position: relative;
    transform-style: preserve-3d;
    top: 1em;
    background: var(--bg-article);
    box-shadow: 5em 2em 10em 5em var(--color-shadow);
    transition: 1s transform ease;

    .post-body {
        h2 {
            font-size: 3em;
            a {
                color: $color-article-muted;
            }
            @media (max-width: 500px){
                font-size: 2em;
            }
        }

        .content {
            padding: 1em;
            margin: 1em auto;
            color: $color-article-muted;
        }

    }

    .author-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 1em auto;
        color: $color-article-muted;
        .time {
            text-align: right;
        }

        h3 {
            a {
                color: $color-article-muted;
            }
        }
    }
}

.post {
    @extend %postStyles;
}

.unliked {
    color: var(--color-article);
}
