%postStyles {
    border-radius: 1em;
    position: relative;
    transform-style: preserve-3d;
    top: 1em;
    background: var(--bg-article);
    box-shadow: 5em 2em 130em 0em var(--color-shadow);
    transition: 1s transform ease;

    .post-header {
        width: 100%;
        overflow: hidden;
        border-radius: 1em 1em 0 0;
        img {
            width: 100%;
            border-radius: 1em 1em 0 0;
        }
    }

    .post-wrrapper {  
        border: 10px solid var(--bg-article);
        border-radius: 1em;
        padding: 1em;
    }

    .post-body {
        h2 {
            font-size: 3em;
            a {
                color: $color-article-muted;
            }
            @media (max-width: 500px){
                font-size: 2em;
            }
        }

        svg {
            position: absolute;
            right: .5em;
            top: .5em;
        }

        .content {
            padding: 1em;
            margin: 1em auto;
            color: $color-article-muted;
        }
    }

    .author-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 1em auto;
        color: $color-article-muted;
        .time {
            text-align: right;
            align-self: center;
        }

        h3 {
            a {
                color: $color-article-muted;
            }
        }
    }

    .tags {
        margin: 1em auto;
    }
}

.unliked {
    color: var(--color-article);
}

.unbookmarked {
    color: var(--color-article);
}
