// -----------------------------------------------------------------------------
// This file contains specific styles for main home page
// -----------------------------------------------------------------------------
.navbar {
    margin-top: 2em;
    .home-title, .menu-link {
        color: var(--color-headings);
        transition: .1s all ease;
        &:hover {
            text-decoration: none;
            border-bottom: solid var(--color-hover);
            border-width: thick;
            color: var(--color-hover);
        }
    }

    .menu-link {
        padding: 0 .2em;
    }
}

.title-primary {
    h1 {
        padding: 1em 0;
    }
}


