// -----------------------------------------------------------------------------
// This file contains specific styles for main home page
// -----------------------------------------------------------------------------
.navbar {
    margin-top: 2em;
    .home-title {
        color: var(--color-headings);
        transition: .3s all ease;
        &:hover {
            text-decoration: none;
            color: var(--color-hover);
        }
    }
    
    .menu-link {
        color: var(--color-headings);
        padding: 0 .2em;
        transition: .3s all ease;
        &:hover {
            text-decoration: none;
            border-bottom: solid var(--color-hover);
            border-width: thick;
            color: var(--color-hover);
        }
    }
}

.title-primary {
    padding-top: 7em;
}
