// -----------------------------------------------------------------------------
// This file contains specific styles for main home page
// -----------------------------------------------------------------------------

.Chefly {
    .posts {
        
        margin: 2em auto;
       .post {
            @extend %postStyles;
            height: auto;
            max-height: 500px;
            overflow: hidden;
            &:nth-of-type(2){
                top: 0;
                left: -2em;
                box-shadow: 5em 2em 10em 5em var(--color-shadow);
            }
            &:hover {
                transform: scale(1.1);
                z-index: 2;
            }
            
        }
        @media (max-width: 800px){
            grid-template-columns: 1fr;
            grid-row-gap: 1em;
            .post {
                top: 0;
                &:nth-of-type(2){
                    left: 0;
                }
            }
        }
    }
    
    .about-wrapper {
        text-align: center;
    
        h2 {
            font-size: 5em;
            padding: 2em 0;
        }
    
        blockquote {
            margin: 6em auto;
            padding: 12em 0;
            h2 {
                font-size: 3em;
                padding: 0;
            }
            h3 {
                font-size: 2em;
            }
            footer {
                font-weight: 100;
            }
        }
    }
}