.user-profile {
    .top-box {
        width: 100%;
        height: 300px;
        border-radius: 0 0 3em 3em;
        position: absolute;
        top: 0;
        left: 0;
        background: #3D3C41;
    }
    
    .user-general-box {
        background: var(--bg-user);
        color: var(--color-text);
        border-radius: 2em;
        width: 60%;
        margin: auto;
        padding: 2em;
        position: relative;
        top: 4em;
        box-shadow: 0em 7em 10em -5em var(--color-shadow);
    
        @media (max-width: 500px){
            width: 90%;
            padding: 0;
        }
    
        .user-info {
            @media (max-width: 500px){
                padding: 2em;
            }

            .edit-wrapper {
                display: grid;
                grid-template-columns: 1fr 2fr;
                grid-template-rows: 1fr;
                grid-column-gap: 1em;
                @media (max-width: 750px){
                    grid-template-columns: 1fr;
                }
            }

            .user-avatar {
                border-radius: 2em;
                overflow: hidden;
                background-size: cover;
                img {
                    border-radius: 2em;
                }
            }
            
            .user-controls-wrapper {
                display: grid;
                .user-name {
                    border-bottom: 1px solid var(--color-text);
                    small {
                        align-self: center;
                    }
                }

                .profile-buttons {
                    text-align: right;
                }

                .about {
                    .about-heading {
                        color: $color-hover;
                    }

                    .about-text {
                        color: var(--color-text);
                    }
                }

                .info-tags {
                    background: #e3e4e6;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    border-radius: 1em;
                    text-align: center;
        
                    small {
                        color: #aaa;
                        font-weight: 600;
                    }
        
                    .info-num {
                        color: #000;
                        font-weight: 600;
                    }

                    .info-box {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                }

                .user-name {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    padding: .2em;
                    h4 {
                        color: var(--color-text);
                    }
    
                    small {
                        color: $color-article-muted;
                    }
                }
            }
        }
    }

    .tabs {
        width: 80%;
        background: var(--bg-user);
        border-radius: 2em;
        margin: 1em auto;
        position: relative;
        top: 6em;

        @media screen and (max-width: 500px){
            width: 100%;
        }

        .card-header {
            border-radius: 1em 1em 0 0;
        }

        .nav-link {
            border-radius: 1em 1em 0 0;
            color: var(--color-text);
            &:hover {
                border-radius: 1em 1em 0 0;
            }
        }

        .nav-link.active {
            color: var(--color-shadow);
        }

        .card-body.active {
            color: var(--color-text);
        }

        .tab-content {
            color: var(--color-text);
        }

        .posts {
            .post {
                .post-date {
                    color: $color-article-muted;
                }

                .post-title {
                    a {
                        color: $color-hover;
                        text-decoration: none;
                        &:focus, &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    
        .followers {
            .follower {
                margin: 1em 0;
                display: flex;
                grid-gap: 1em;
                margin: 1em 0;
            }
        }
    
        .gallery {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            grid-gap: 1em;
    
            .img {
                position: relative;
                svg {
                    position: absolute;
                    top: .5em;
                    right: .5em;
                    font-size: 2em;
                    cursor: pointer;
                }
            }
        }

        .settings {
            select {
                border-radius: 1em;
            }
        }
    }

    .quickpost {
        background: var(--bg-user-quickpost);
        color: var(--color-text);
        border-radius: 2em;
        width: 80%;
        margin: auto;
        margin-bottom: 10em;
        padding: 2em;
        position: relative;
        top: 8em;
        box-shadow: 0em 7em 10em -5em var(--color-shadow);
        @media (max-width: 660px){
            width: 100%;
        }

        .quick-post {
            @extend %quickpost;
        }

        @extend %quickPostForm;
    }
}

.modal-dialog {
    max-width: 95% !important;

    .modal-content {
        background: var(--bg-user-quickpost) !important;
        color: var(--color-text);
        border-radius: 1em;

        .modal-header {
            border-bottom: none;
            padding: .2em;
            .close {
                color: var(--color-text);
            }
        }

        .modal-body {
            .user-info {
                padding: 1em 0;
                display: flex;
                column-gap: .5em;
                .user-name {
                    align-self: center;
                }
            }

            img {
                max-height: 65vh !important;
            }
        }

        .modal-footer {
            border-top: none;
        }
    }

}


// Subpage users

.Users {
    .users {
        perspective: 1000px;
        transform-style: preserve-3d;
    }

    .search-form {
        margin: 1em auto;
        width: 100%;
        input {
            padding: 1em;
            border-radius: 2em;
            display: block;
            width: 100%;
            border: none;
            outline: none;
            background: var(--bg-article);
            color: var(--color-article);
            &:focus {
                border: none;
                outline: none;
            }
        }
    
    }
    
    .user {
        background: var(--bg-article);
        padding: 1.5em;
        width: 90%;
        margin: 1em auto;
        border-radius: 2em;
        border: 1px solid var(--color-shadow);
        display: grid;
        grid-template-columns: 1fr 1fr;
        transition: all .5s ease-in-out;
        a {
            text-decoration: none;
            color: var(--color-article);
        }
        .register-date {
            color: var(--color-article);
        }
        .user-link {
            text-align: right;
        }
        &:hover {
            transform: translateZ(5px);
            z-index: 10000;
        }
    }
}