// -----------------------------------------------------------------------------
// This file contains general styles
// -----------------------------------------------------------------------------

body {
    background: var(--bg);
    color: var(--color-text);
}

::selection {
    background: $color-hover;
    color: #fff;
  }

button:focus {
    outline: none;
    border: none;
}